.h1 {
position: relative;
color: #FFFFFF;
text-align:center;
top: 0px;
}
.p {
position: relative;
text-align: center;
color: #22AAA1;
top: 20px;
}

.span {
position: relative;
color: #22AAA1;
}
.button {
    background-color: #22AAA1;
    width: 100px; 
    height: 40px;
    left: 1140px;
    position: relative;
}
.col {
    position: relative;
    left: 20px;
    width: 1100px;
    bottom: -40px;
}

.stack{
    height: 55vh;
    overflow: auto;
    scroll-behavior: smooth;
}