.container {
    margin-top: 40px;
    width: 80vw;
    border: 1px white solid;
    border-radius: 20px;
    padding: 30px
}

.features {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.cupos {
    font-size: 20px;
    width: 210px;
}

.button {
    margin-top: 15px;
    height: 60px;
    border-radius: 20px;
    background-color: #22AAAC;
    border: none;
}

.button:hover {
    background-color: #22aaacc6;
}

.descripcion {
    margin-top: 20px;

}

.accordion{
    border-radius: 20px;
}

.accordionBody{
    background-color: #2F2F35;
    border: 1px #FFF solid;
    border-radius: 20px;
    color: #fff;
}